<div class="container">
    <h1 class="nashi">
        НАШИ ПРЕИМУЩЕСТВА
    </h1>
    <ul>
        <li class="card">
            <img src="../../../assets/biglocatsiya.png" alt="">
            <p class="description">Удобное расположение магазина</p>
        </li>
        <li class="card">
            <img src="../../../assets/furgon.png" alt="">
            <p class="description">Быстрая доставка</p>
        </li>
        <li class="card">
            <img src="../../../assets/pul.png" alt="">
            <p class="description">Низкие цены<br><span>Если найдете дешевле - <br>сделаем скидку</span></p>
        </li>
        <li class="card">
            <img src="../../../assets/sertifikat.png" alt="">
            <p class="description">Гарантия качества</p>
        </li>
    </ul>
</div>