<div class="container">
  <div class="footer">
    <ul>
      <li>
        <img src="../../../assets/brand.png" alt="" />
      </li>
      <li>
        <a href="tel:+8-961-525-91-91">8-961-525-91-91</a>
      </li>
      <li>
        <p>Время работы: <span>с 10:00 до 19:00</span></p>
        <p>Адрес: <span>Краснодар, ул. Московская 144 корп. - 1</span></p>
        <p>Почта: <span>mebelarkomail</span></p>
      </li>
      <li>Мы в Инстаграме</li>
      <li>Все права защищены</li>
    </ul>
    <ul>
      <li>Кухни</li>
    </ul>
    <ul>
      <li>Гостинные</li>
    </ul>
    <ul>
      <li>Спальни</li>
    </ul>
    <ul>
      <li>Диваны</li>
    </ul>
    <ul>
      <li>Детские</li>
    </ul>
    <ul>
      <li>Прихожие</li>
    </ul>
    <ul>
      <li>Шкафы-купе</li>
    </ul>
  </div>
</div>
