<div class="main">
    <h1 class="title">ВХОД</h1>
    <form class="form">
      <label for="name">E-mail*</label>
      <input type="text" id="name" placeholder="Email" />

      <label for="phone">Password*</label>
      <input type="password" id="phone" placeholder=".........." />
      <h3 class="zabili">Забыли пароль?</h3>
    </form>
    <h2 class="diqqat">
      Авторизоваться через
      <i class="fab fa-google"></i>
      <i class="fab fa-facebook"></i>
    </h2>
    <button class="btn">ВОЙТИ</button>
    <h1 class="za">Зарегистрироваться</h1>
  </div>