<div class="container">
  <div class="screen">
    <div class="element">
      <p class="text-wrapper">ул. Московская, 144 корп. - 1</p>
      <div class="div">Схема проезда</div>
      <p class="p">8 (961) 525 91 91</p>
      <div class="overlap"><div class="text-wrapper-2">Заказать звонок</div></div>
      <div class="text-wrapper-3">Избранное</div>
      <div class="overlap-group"><div class="text-wrapper-4">2</div></div>
      <div class="text-wrapper-5">Войти</div>
      <div class="text-wrapper-6">Корзина</div>
      <img class="img" src="../../../assets/Korzinka.png" />
      <img class="element-2" src="../../../assets/like.png" />
      <img class="element-3" src="../../../assets/user.png" />
      <img class="group" src="../../../assets/qongiroq.png" />
      <div class="view">
        <div class="overlap-group-2">
          <img class="interface" src="../../../assets/search.png" />
          <div class="text-wrapper-7">Поиск</div>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="text-wrapper-11">Акции</div>
      <div class="text-wrapper-12">Сборка</div>
      <div class="text-wrapper-13">Оплата</div>
      <div class="text-wrapper-14">Доставка</div>
      <div class="text-wrapper-15">Наши работы</div>
      <div class="text-wrapper-16">Контакты</div>
      <img class="interface-2" src="../../../assets/location.png" />
      <div class="text-wrapper-17">Ростов</div>
      <img class="chevron-left" src="img/chevron-left-1.svg" />
      <img class="line" src="img/line-1.svg" />
    </div>
    <img class="x" src="../../../assets/brand.png" />
  </div>
  <div class="page_bar">
    <a href="kuhnni">КУХНИ</a>
    <a href="gostinitsa">ГОСТИННЫЕ</a>
    <a href="spalni">СПАЛЬНИ</a>
    <a href="prixoji">ПРИХОЖИЕ</a>
    <a href="shkaf">ШКАФЫ-КУПЕ</a>
    <a href="detski">ДЕТСКИЕ</a>
    <a href="divan">ДИВАНЫ</a>
    <a href="gde">ГДЕ ПОСМОТРЕТЬ</a>
  </div>
</div>