<div class="main">
    <h1 class="title">РЕГИСТРАЦИЯ</h1>
    <form class="form">

      <label for="name">User*</label>
      <input id="phone" placeholder="Name" />


      <label for="name">e-mail*</label>
      <input type="text" id="name" placeholder="Phone number" />
      <label for="phone">Parol*</label>
      <input type="password" id="phone" placeholder=".........." />

      <label for="name">Phone*</label>
      <input type="text" id="name" placeholder="+7 (000) 000 00 00" />

      
      <h3 class="zabili">* - поля, обязательные для заполнения</h3>
    </form>
    <h2 class="diqqat">
      Авторизоваться через
      <i class="fab fa-google"></i>
      <i class="fab fa-facebook"></i>
    </h2>
    <button class="btn">ВОЙТИ</button>
    <h1 class="za">Зарегистрироваться</h1>
  </div>