<div class="main">
    <h1 class="way">
      Главная<svg
        xmlns="http://www.w3.org/2000/svg"
        width="4"
        height="5"
        viewBox="0 0 4 5"
        fill="none"
      >
        <path
          d="M3.21872 2.47911C3.21422 2.42777 3.1936 2.37919 3.15979 2.34033L1.21345 0.0898748H1.2134C1.17183 0.038666 1.11124 0.00654804 1.04552 0.000905603C0.979802 -0.00477963 0.914589 0.0164764 0.864823 0.0597944C0.815056 0.10307 0.785017 0.164759 0.781581 0.23061C0.778144 0.296499 0.801607 0.360945 0.846579 0.40918L2.65422 2.49998L0.846579 4.59078C0.801607 4.63906 0.778144 4.70351 0.781581 4.76939C0.785017 4.83524 0.815055 4.89688 0.864823 4.94021C0.914589 4.98352 0.9798 5.00478 1.04552 4.99909C1.11124 4.99341 1.17183 4.96133 1.2134 4.91013L3.15975 2.65967H3.15979C3.20307 2.60994 3.22432 2.54478 3.21872 2.4791V2.47911Z"
          fill="black"
        />
      </svg>
      Личный кабинет
    </h1>
    <div class="prof_viyti">
      <h1>ПРОФИЛЬ</h1>
      <h2>Выйти</h2>
    </div>

    <!-- Main profile zakaz otviz -->
    <div class="infos">
      <div class="main_info">
        <h1 class="profil"><i class="far fa-user"></i>Профиль</h1>
        <h1 class="profil1"><i class="fab fa-opencart"></i>Мои заказы</h1>
        <h1 class="profil1"><i class="fas fa-star"></i>Отзывы</h1>
      </div>

      <div class="lichnie">
        <h1>ЛИЧНЫЕ ДАННЫЕ</h1>
        <form>
          <div>
            <label for="name">Имя*</label>
            <input type="text" placeholder="Иван" />
          </div>

          <div>
            <label for="name">Отчество</label>
            <input type="text" placeholder="Иванович" />
          </div>

          <div>
            <label for="name">Фамилия*</label>
            <input type="text" placeholder="Иванов" />
          </div>

          <div>
            <label for="name">Телефон*</label>
            <input type="text" placeholder="+7 (495) 283 65 95" />
          </div>

          <div>
            <label for="name">E-mail*</label>
            <input type="email" placeholder="ivanov@mail.ru" />
          </div>

          <div>
            <label for="name">Пароль*</label>
            <input type="password" placeholder="............" />
          </div>
        </form>
      </div>

      <div class="address">
        <h1>АДРЕС ДОСТАВКИ</h1>
        <form>
          <div>
            <label for="name">Регион*</label>
            <input type="text" placeholder="Московская область" />
          </div>

          <div>
            <label for="name">Улица *</label>
            <input type="text" placeholder="Московская" />
          </div>

          <div>
            <label for="name">Город*</label>
            <input type="text" placeholder="Москва" />
          </div>

          <div>
            <label for="name">Дом*</label>
            <input type="text" placeholder="18" />
          </div>
        </form>
        <h1 class="lastgap">* - поля, обязательные для заполнения</h1>
      </div>
    </div>
    <div class="btn-div">
      <button class="btn">СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
    </div>
  </div>
