<div class="container">
    <div class="screen">
      <div class="element">
        <p class="text-wrapper">ул. Московская, 144 корп. - 1</p>
        <div class="div">Схема проезда</div>
        <a href="tel:+89615259191" class="p">8 (961) 525 91 91</a>
        <div class="overlap"><div class="text-wrapper-2">Заказать звонок</div></div>
        <a href="#" class="text-wrapper-3">Избранное</a>
        <div class="overlap-group"><div class="text-wrapper-4">2</div></div>
        <a routerLink="/registratsiya" class="text-wrapper-5">Войти</a>
        <a href="#" class="text-wrapper-6">Корзина</a>
        <img class="img" src="../../../assets/Korzinka.png" />
        <img class="element-2" src="../../../assets/like.png" />
        <img class="element-3" src="../../../assets/user.png" />
        <img class="group" src="../../../assets/qongiroq.png" />
        <div class="view">
          <div class="overlap-group-2">
            <input class="text-wrapper-7" placeholder="Поиск"/>
            <img class="interface" src="../../../assets/search.png" />
          </div>
        </div>
      </div>
      <div class="navbar">
        <a href="#" class="text-wrapper-11">Акции</a>
        <a href="#" class="text-wrapper-12">Сборка</a>
        <a href="#" class="text-wrapper-13">Оплата</a>
        <a href="#" class="text-wrapper-14">Доставка</a>
        <a href="#" class="text-wrapper-15">Наши работы</a>
        <a href="#" class="text-wrapper-16">Контакты</a>
        <img class="interface-2" src="../../../assets/location.png" />
        <div class="text-wrapper-17">Ростов</div>
        <img class="chevron-left" src="img/chevron-left-1.svg" />
        <img class="line" src="img/line-1.svg" />
      </div>
      <a href="/">
        <img class="x" src="../../../assets/brand.png" />
      </a>
    </div>
    <div class="page_bar">
      <a routerLink="/kuhinni">КУХНИ</a>
      <a routerLink="/mehmonxona" >ГОСТИННЫЕ</a>
      <a routerLink="/yotoqxona">СПАЛЬНИ</a>
      <a routerLink="/kuhinni">ПРИХОЖИЕ</a>
      <a routerLink="/kuhinni">ШКАФЫ-КУПЕ</a>
      <a routerLink="/kuhinni">ДЕТСКИЕ</a>
      <a routerLink="/kuhinni">ДИВАНЫ</a>
      <a routerLink="/kuhinni">ГДЕ ПОСМОТРЕТЬ</a>
    </div>
  </div>